---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
	<div class="post">
		<h1 class="post-title">
		  <a href="{{ post.url }}">
			{{ post.title }}
		  </a>
		</h1>

		<a class="author" href="{{ author.web }}" target="_blank">
		  <img class="author-avatar" src="{{ author.avatar }}"/>
		  <span class="post-date author-name">{{ author.name }}, {{ post.date | date_to_string }}</span>
		</a>
		{% if post.content contains '<!--more-->' %}
			{{ post.content | split:'<!--more-->' | first }}
		{% else %}
			{{ post.excerpt }}
		{% endif %}
		<strong><a href="{{ post.url }}">Читать дальше</a></strong>
	  </div>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">Подпишись <a href="{{ "/feed.xml" | prepend: site.baseurl }}">на RSS</a></p>

</div>
