---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

{% assign author = site.data.authors[page.author] %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <a class="author" href="{{ author.web }}" target="_blank">
    <img class="author-avatar" src="{{ author.avatar }}"/>
    <span class="post-date author-name">{{ author.name }}, {{ page.date | date_to_string }}</span>
  </a>
  {{ content }}
</div>
<div class="likely">
  <div class="facebook">Поделиться</div>
  <div class="twitter">Твитнуть</div>
  <div class="gplus">Плюсануть</div>
  <div class="telegram">Отправить</div>
  <div class="vkontakte">Поделиться</div>
</div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>